<div class="content">
  <div class="admin-home">
    <h1 class="text-center">Welcome to Your Dashboard</h1>
    <p class="text-center">Select an option to get started.</p>
    <hr>
    <div class="cards-container">
      <div class="card" routerLink="/admin/users">
        <div class="card-icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="card-content">
          <h2>Users</h2>
          <p>See a list of users who are available</p>
        </div>
      </div>
      <div class="card" routerLink="/admin/applications">
        <div class="card-icon">
          <i class="fas fa-exchange-alt"></i>
        </div>
        <div class="card-content">
          <h3>Transactions</h3>
          <p>View and Manage List of transactions</p>
        </div>
      </div>
      <div class="card" routerLink="/admin/profile">
        <div class="card-icon">
          <i class="fa-solid fa-bars-progress"></i>
        </div>
        <div class="card-content">
          <h2>Manage Accounts</h2>
          <p>View and Manage customers account</p>
        </div>
      </div>
      <div class="card" [routerLink]="[userHome + '/customers']" routerLinkActive="active">
        <div class="card-icon">
          <i class="fa-solid fa-user-plus"></i>
        </div>
        <div class="card-content">
          <h2>Manage Customers</h2>
          <p>View/Register a new customer</p>
        </div>
      </div>
    </div>
  </div>
