################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MELLBank_ANG/src/app/shared/constants.ts
/MELLBank_ANG/src/app/shared/constants.ts
