<div class="container-fluid">
  <div class="row">
    <main class="col-md-10 ml-sm-auto px-4 main-content">
      <header
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-white">Deposit Details</h1>
      </header>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h2 class="card-title">Account Details</h2>
              <hr>
              <div class="credit-card bg-secondary p-3 rounded">
                <div class="card-type">{{ account.accountType }}</div>
                <div class="card-name">{{ "MELLBank" }}</div>
                <div class="chip">
                  <img
                    src="assets/images/kisspng-integrated-circuits-chips-smart-card-computer-ic-chip-5abc26ec39a441.9442861815222801722361.png"
                    alt="chip" width="50" height="50" />
                </div>
                <div class="tap-icon">
                  <i class="fas fa-wifi"></i>
                </div>
                <div class="card-number">{{ account.accountNumber }}</div>
                <div class="card-owner">{{ fullName }}</div>
                <img src="assets/images/Logo-VISA-transparent-PNG.png" alt="Visa Logo" class="visa-logo" />
              </div>
              <div class="account-info mt-3">
                <p><strong>Balance:</strong> {{ account.balance | currency }}</p>
                <p><strong>Opened On:</strong> {{ account.creationDate | date:'short' }}</p>
              </div>
              <div class="col-md-7 mt-3">
                <h2 class="card-title">Make a Deposit</h2>
                <hr>
                <form (ngSubmit)="submitDepositForm(depositForm)" #depositForm="ngForm" class="deposit-form">
                  <div class="form-group">
                    <label for="amount">Amount to Deposit:</label>
                    <input type="number" id="amount" name="amount" class="form-control"
                      [(ngModel)]="depositRequest.amount" required min="0">
                  </div>
                  <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Deposit</button>
                    <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showAlert" class="alert alert-success mt-3" role="alert">
                Deposit successful!
                <div *ngIf="response">
                  <p>Transaction ID: {{ response.transaction.transactionId }}</p>
                  <p>Transaction Date: {{ response.transactionDetail.transactionDate | date:'short' }}</p>
                  <p>Amount: {{ response.transactionDetail.amount }}</p>
                  <p>Transaction Type: {{ response.transactionDetail.transactionType }}</p>
                  <p>Description: {{ response.transactionDetail.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
