:root {
  --color1: #b6d5e7; /* Light Blue */
  --color2: #526b7f; /* Dark Blue */
  --color3: #3a4f64; /* Grayish Blue */
  --color4: #387691; /* Teal */
  --color5: #a9cadc; /* Light Teal */
  --color6: #c4dff0; /* Lighter Blue */
}

.sidebar {
  height: 100vh;
}

.sidebar .nav-link.active {
  color: var(--color4);
}
