.customer-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3.fw-semi-bold {
  color: #007bff;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: var(--color4);
  border-color: var(--color4);
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.text-danger {
  font-size: 0.9rem;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.text-danger {
  font-size: 0.9rem;
}
