<app-guest-header></app-guest-header>
<div class="container-fluid">
  <header class="hero d-flex align-items-center">
    <div class="container text-center text-lg-left">
      <div class="row align-items-center">
        <div class="col-lg-6 hero-text">
          <h1>Welcome to MELLBANK</h1>
          <p>Your seamless banking experience starts here.</p>
          <button class="btn btn-get-started">
            <a (click)="comingSoon()">Get Started</a>
          </button>
        </div>
        <div class="col-lg-6 hero-images text-center">
          <img src="assets/images/group-2120.png" class="img-fluid mt-4" alt="Group" />
        </div>
      </div>
    </div>
  </header>
</div>
<app-guest-footer></app-guest-footer>
